body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 20px;
}

.padding-top {
  padding-top: 40px;
}

.colony {
  margin: 20px;
  border: 1px solid #000;
  height: 250px;
  width: 250px;
  box-shadow: 0 0 5px 10px #000;
}

img.squirrelpic {
  height: 200px;
  width: 200px;
}

.thumbnail {
  margin-top: 20px;
  box-shadow: 0 0 5px 10px #000;
}
