extends ../layout

block content
  .container
    .col-md-9
      h1 Colony's Weresquirrels
      a(href='/colonies' class='btn btn-primary') Home
      for weresquirrel in weresquirrels
        .row
          .col-md-6
            h2.text-center.text-danger= weresquirrel.name
            table.table.table-striped.table-bordered
              thead
                tr
                  th Garlic
                  th Meat
              tbody
                for duel in weresquirrel.duels
                  tr
                    td= duel.garlic
                    td= duel.meat
      .row
        .col-md-9
          h1 Protected by These Brave Unibears:
          ul 
          for unibear in unibears
            h3.text-info= unibear.name